<div class="jumbotron">  
    <h1>PerformersApp</h1>

    <p>パフォーマーと仕事をつなぐ場所</p>
    <button type="button" class="btn btn-warning"><%= link_to "Create your account", new_user_registration_path %></button>
    <h2>How to use</h2>
    <div>
        <ol>
            <li>アカウント作成をして、マイページを登録、ご自身のスキルや自己PRを記載してください</li>
            <li>パフォーマーの方は告知したいイベントや出演情報などを新規投稿から投稿（もちろん募集をかけることもできます。）</li>
            <li>仕事を募集したい場合は必ずカテゴリーの仕事募集のカテゴリーを選択して投稿してください</li>
            <li>興味のある仕事やイベントがあったら"いいね"をしてみてください</li>
        </ol>
    </div>
</div>