    <h1>Members</h1>
    <% @users.each do |user| %> 
        <div class="card">
        <div class="card-body">
        #プロフィール写真サムネイル
            <p><%= user.username %><p>
            <% if current_user.admin? && !(current_user == user) %>
                <%= user.email %>
                <button class ="adminbtn"><%= link_to "削除","#" %></button>
                
            <% end %>
        </div>
        </div>
    <% end %>