// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact_name {
    width: 50%;
}

#contact_email {
    width: 50%;
}

#contact_content {
    width: 50%;
    height: 10vw;
}

@media screen and (max-width:768px){

    #contact_name {
        width: 80%;
    }
    
    #contact_email {
        width: 80%;
    }
    
    #contact_content {
        width: 80%;
        height: 12vw;
    }
}
