.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

#contact_name {
  width: 50%;
}

#contact_email {
  width: 50%;
}

#contact_content {
  width: 50%;
  height: 10vw;
}

.contact_showpage p {
  color: #fff;
}

@media screen and (max-width: 768px) {
  #contact_name {
    width: 80%;
  }
  #contact_email {
    width: 80%;
  }
  #contact_content {
    width: 80%;
    height: 12vw;
  }
}
