// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.submit_form {
    margin-top: 2rem;
}

.card {
    margin-bottom: 1rem;
}

.post_image {
    margin: 1rem;
}

.index_title {
    font-size: 2em;
    font-weight: bold;
    margin-right: 1em;
}

.new_post {
    text-align: center;
}

.posts_content {
    margin-top: 3rem;
}



