// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.toppage {
    background-image: url("art.png");
    background-size: cover;
}

.sab {
    color: #fff;
    margin-bottom: 2em;
}

.topmain h1 {
    font-size: calc(4em + 1vw);
    color: #fff;
}

@media screen and (max-width:498px){
    .topmain h1 {
        font-size: calc(1.5em + 1vw);
    }

    .sab {
        font-size: calc(1.2em + 1vw);;
    }
}

.topabout {
    background-color: #FFCC33;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 3em 1em;
}

.top-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}

.top-card {
    width: 22%;   
}

.use {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFCC;
}

.fa-5x {
    padding: .2em;
}

@media screen and (max-width:768px){

    .top-cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 100%;
    }
    
}

.tourokusuru {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 1em;
}