<div class="container text-center">
    <p class="copyright">© Yumiko Tezuka. ALL RIGHTS RESERVED</p>
    <div class="snsbtn">
        <a href="https://twitter.com/engineerman8"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/u_ki_acropole/"><i class="fab fa-instagram"></i></a>
    </div>
</div>