<div class="container text-center">
    <p class="text-muted">© Yumiko Tezuka. ALL RIGHTS RESERVED</p>
    <a href="#"><i class="far fa-envelope"></i></a>
    <a href="https://twitter.com/engineerman8"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
</div>